@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<br />
<h1 style="color: #417690;" class="mt-5 mb-5">@ViewData["Title"]</h1>
<p style="color: #417690;" class="mt-5 mb-5">
    Please check your email to reset your password.
</p>
