<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Field Options</h1>

    <hr />
    <h2 class="my-5 custom-title">null and blank</h2>
    <h4 class="mb-3 mt-4">By default all fields are required to make it nullable use null and blank together.</h4>
    <pre class="mb-5">
        <code class="language-Django">
            name = models.CharField(max_length=30, null=True, blank=True)
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">choices</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            class User(models.Model):
                PEPPERONI = "PEP"
                CHEESE = "CHE"
                MARGHERITA = "MAR"
                PIZZA_LIST = [
                    (PEPPERONI, "Pepperoni"),
                    (CHEESE, "Cheese"),
                    (MARGHERITA, "Margherita"),
                ]
                favorite_pizza = models.CharField(
                    max_length=3,
                    choices=PIZZA_LIST,
                    )
            <span></span>
        </code>
    </pre>
    <h4 class="mb-0 mt-4">The favorite_pizza is choices so, user have to choose from those 3 types.</h4>
    <h4 class="mb-5 mt-2">(PEPPERONI, "Pepperoni") the display value is Pepperoni otherwise, the stored value in database is PEP.</h4>

    <hr />
    <h2 class="my-5 custom-title">default</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            favorite_pizza = models.CharField(
                max_length=3,
                choices=PIZZA_LIST,
                default = PEPPERONI
            )
            <span></span>
        </code>
    </pre>
    <div class="mt-2"></div>
    <pre>
        <code class="language-Django">
            name = models.CharField(max_length=30, null=True, blank=True, default="khaled")
            <span></span>
        </code>
    </pre>
    <h4 class="mb-5 mt-4">Default will give the column a initial value that can be changed.</h4>

    <hr />
    <h2 class="my-5 custom-title">db_index</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            name = models.CharField(max_length=100, db_index=True)
            <span></span>
        </code>
    </pre>
    <h4 class="mb-5 mt-4">
        If you have a huge database and you will call that field constantly, you can use it to make the calling done quickly.
        index will be created on the name column. This index will improve the performance of queries involving the name field.
    </h4>

    <hr />
    <h2 class="my-5 custom-title">help_text</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            email = models.EmailField(help_text="Enter valid email")
            <span></span>
        </code>
    </pre>
    <h5 class="mb-5 mt-4">Help text will help user to understand the field or what should enter.</h5>

    <hr />
    <h2 class="my-5 custom-title">unique</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            email = models.EmailField(unique=True)
            <span></span>
        </code>
    </pre>
    <h5 class="mb-0 mt-4">Prevent data from being repeated.</h5>
    <h5 class="mb-5 mt-3">
        If user register with example@gmail.com then other user try to register with the same email.
        it will appear error like email is already exists.
    </h5>

    <hr />
    <h2 class="my-5 custom-title">verbose_name</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            favorite_pizza = models.CharField(verbose_name="Your Favorite Pizza", max_length=3, choices=PIZZA_LIST)
            <span></span>
        </code>
    </pre>
    <h5 class="mb-0 mt-4">How the field will be display for people and admin page.</h5>
    <h4 class="mb-3 mt-5">Before</h4>
    <figure class="figure mb-4">
        <img src="~/images/project_images/model/verbose.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h4 class="mb-3 mt-5">After</h4>
    <figure class="figure mb-5">
        <img src="~/images/project_images/model/verbose2.png" class="figure-img img-fluid rounded img-border">
    </figure>
</div>