<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">File</h1>
    <h4 class="text-center mt-4 mb-5">Used to upload image, video, and documents you have to follow the following steps.</h4>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            class Files(models.Model):
                document = models.FileField(upload_to='documents/')
                image = models.FileField(upload_to='images/')
                video = models.FileField(upload_to='videos/')
            <span></span>
        </code>
    </pre>
    <hr />
    <h5 class="mt-5 mb-3">In project root go to the settings. Add those lines.</h5>
    <pre class="mb-3">
        <code class="language-Django">
            STATIC_URL = 'static/'
            STATICFILES_DIRS = [
                BASE_DIR / "static",
            ]
            STATIC_ROOT = BASE_DIR / "staticfiles"
            MEDIA_URL = '/media/'
            MEDIA_ROOT = os.path.join(BASE_DIR, 'media/')
            <span></span>
        </code>
    </pre>
    <figure class="figure mb-5">
        <img src="~/images/project_images/model/imfi.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <hr />
    <h5 class="mt-5 mb-3">In project root go to the urls. Add those lines.</h5>
    <pre class="mb-3">
        <code class="language-Django">
            from django.conf.urls.static import static
            from django.conf import settings
            urlpatterns = [
                path(),
                path()
            ]+static(settings.MEDIA_URL,document_root=settings.MEDIA_ROOT)
            <span></span>
        </code>
    </pre>
    <figure class="figure mb-5">
        <img src="~/images/project_images/model/file2.png" class="figure-img img-fluid rounded img-border">
    </figure>
</div>