<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Inheritance - Abstraction</h1>
    <h4 class="text-center mt-4 mb-5">We use inheritance to reduce the replication.</h4>
    <h4 class="mb-1 mt-4">Example: assume we have 3 tables that use created at.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">class Car(models.Model):</p>
        <p class="mb-1 mr-25">...</p>
        <p class="mb-1 mr-25">created_at = models.DateTimeField()</p>
        <p class="mb-1">class Category(models.Model):</p>
        <p class="mb-1 mr-25">...</p>
        <p class="mb-1 mr-25">created_at = models.DateTimeField()</p>
        <p class="mb-1">class Product(models.Model):</p>
        <p class="mb-1 mr-25">...</p>
        <p class="mb-1 mr-25">created_at = models.DateTimeField()</p>
    </div>
    <h4 class="mb-1 mt-4">Instead of inserting created_at 3 times we can put it in separated models then we can inherit it.</h4>

    <hr />
    <h2 class="my-5 custom-title">Solution</h2>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">class CreatedAt(models.Model):</p>
        <p class="mb-1 mr-25">created_at = models.DateTimeField()</p>
        <p class="mb-1">class Car(CreatedAt):</p>
        <p class="mb-1 mr-25">...</p>
        <p class="mb-1">class Category(CreatedAt):</p>
        <p class="mb-1 mr-25">...</p>
        <p class="mb-1">class Product(CreatedAt):</p>
        <p class="mb-1 mr-25">...</p>
    </div>
    <h4 class="mb-1 mt-4">It's much better.</h4>
    <h4 class="mb-1 mt-4">Car, Category and Product still have created_at = models.DateTimeField() but instead of repeating the same code 3 times. We put it in separated Model then we inherit it.</h4>
    <h4 class="mb-1 mt-4">In previous example it doesn't make sense to create object from CreatedAt so, we can unable creating object from it by using abstraction.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">class CreatedAt(models.Model):</p>
        <p class="mb-1 mr-25">created_at = models.DateTimeField()</p>
        <p class="mb-1 mr-25">class Meta:</p>
        <p class="mb-1 mr-50">abstract = True</p>
    </div>
</div>