<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Jazzmin</h1>
    <h4 class="text-center mt-4 mb-5">Used to change admin layout.</h4>
    <br>
    <hr />
    <h2 class="my-5 custom-title">Install the package</h2>
    <div class="mt-4"></div>
    <pre class="mb-5">
        <code class="language-Django">
            pip install django-jazzmin
            <span></span>
        </code>
    </pre>
    <h4 class="mb-1 mt-4">Insert the package into INSTALLED_APPS list</h4>
    <div class="mt-2"></div>
    <pre class="mb-2">
        <code class="language-Django">
            INSTALLED_APPS = [
                'jazzmin',
                'django.contrib.admin',
                ...
            ]
            <span></span>
        </code>
    </pre>
    <h4 class="mb-5 mt-4">Note: Insert the package before the admin package.</h4>

    <hr />
    <h2 class="my-5 custom-title">Before</h2>
    <figure class="figure my-4">
        <img src="~/images/project_images/third_party/before.png" class="figure-img img-fluid rounded img-border">
    </figure>

    <br>
    <hr />
    <h2 class="my-5 custom-title">After</h2>
    <figure class="figure my-4">
        <img src="~/images/project_images/third_party/jaz.png" class="figure-img img-fluid rounded img-border">
    </figure>
</div>