<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">RichText</h1>
    <h4 class="text-center mt-4 mb-5">Use this package to have rich text field.</h4>
    <br>
    <hr />
    <h2 class="my-5 custom-title">Install the package</h2>
    <div class="mt-4"></div>
    <pre class="mb-5">
        <code class="language-Django">
            pip install django-ckeditor
            pip install django-bleach
            <span></span>
        </code>
    </pre>
    <hr />
    <h4 class="mb-3 mt-5">Insert the package into INSTALLED_APPS list.</h4>
    <pre class="mb-5">
        <code class="language-Django">
            INSTALLED_APPS = [
                ...
                "ckeditor",
                "bleach",
            ]
            <span></span>
        </code>
    </pre>
    <hr />
    <h4 class="mb-3 mt-5">Use it in the model.</h4>
    <pre class="mb-5">
        <code class="language-Django">
            from ckeditor.fields import RichTextField as HTMLField
            from bleach import clean
            from django.utils.safestring import mark_safe
            ALLOWED_TAGS = [
                "a", "abbr", "acronym", "b", "em", "ol", "code", 'p', 'br',
                "blockquote", "i", "li", "strong", "ul", 'u', 'hr', 'em',
                'span', 'div', 'img', 'ol', 'h1', 'h2', 'h3', 'h4', 'h5',
                'colgroup', 'table', 'col', 'th', 'td', 'tr', 'tbody', 'thead'
            ]
            ALLOWED_ATTRS = {
                '*': ['style', 'class', 'dir'],
                'a': ['href', 'title', 'target'],
                'img': ['src', 'width', 'height', 'alt'],
            }
            class RichText(models.Model):
                rich_text = HTMLField()
                def save(self, *args, **kwargs):
                    self.rich_text = bleach(self.rich_text)
            <span></span>
        </code>
    </pre>


    <br>
    <hr />
    <h2 class="my-5 custom-title">Before</h2>
    <figure class="figure my-4">
        <img src="~/images/project_images/third_party/rich_before.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <br>
    <hr />
    <h2 class="my-5 custom-title">After</h2>
    <figure class="figure my-4">
        <img src="~/images/project_images/third_party/rich_text.png" class="figure-img img-fluid rounded img-border">
    </figure>
</div>