@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h2 class="mb-4" style="color: #417690; font-weight: 900;">@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row mt-4">
    <div class="col-md-6">
        <form id="profile-form" method="post" class="mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="bottom-border form-control" placeholder="Please choose your username." disabled style="color: #417690;" />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="bottom-border form-control" placeholder="Please enter your phone number." style="color: #417690;" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button style="color: white; background-color: #417690;" id="update-profile-button" type="submit" class="w-100 btn btn-lg mb-5">
                Save
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
