<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">DeleteView</h1>
    <h4 class="text-center mt-4 mb-5">Built in class used to delete model object.</h4>
    <br>
    <hr />
    <h2 class="my-5 custom-title">Model</h2>
    <div class="rounded p-4 mb-5 mt-4 custom-div">
        <p class="mb-1">class Book(models.Model):</p>
        <p class="mb-1 mr-25">title = models.CharField(max_length=100)</p>
        <p class="mb-1 mr-25">available = models.BooleanField(default=False)</p>
    </div>
    <br>
    <hr />
    <h2 class="my-5 custom-title">View</h2>
    <div class="rounded p-4 mb-5 mt-4 custom-div">
        <p class="mb-1">from django.views.generic.edit import DeleteView</p>
        <p class="mb-1">from django.urls import reverse</p>
        <p class="mb-1">from app.models import Book</p>
        <p class="mb-1">class BookDeleteView(DeleteView):</p>
        <p class="mb-1 mr-25">model = Book # delete object of Book</p>
        <p class="mb-1 mr-25">success_url = reverse('home')</p>
    </div>
    <br>
    <hr />
    <h2 class="my-5 custom-title">Url</h2>
    <div class="rounded p-4 mb-5 mt-4 custom-div">
        <p class="mb-1">from django.urls import path</p>
        <p class="mb-1">from app.views import BookDeleteView</p>
        <p class="mb-1">urlpatterns = [</p>
        <p class="mb-1 mr-25">path('delete/&lt;int:pk&gt;/', BookDeleteView.as_view(), name='book-delete'),</p>
        <p class="mb-1">]</p>
    </div>
    <br>
    <hr />
    <h2 class="my-5 custom-title">Explanation</h2>
    <h5 class="mt-4 mb-5">
        DeleteView handles deletion automatically.
        If the deletion is valid, it will delete the object from the database and then redirect to the success_url.
    </h5>
</div>