<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">UpdateView</h1>
    <h4 class="text-center mt-4 mb-5">Built in class used to update model object.</h4>
    
    <hr />
    <h2 class="my-5 custom-title">Model</h2>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            class Book(models.Model):
                title = models.CharField(max_length=100)
                available = models.BooleanField(default=False)
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">View</h2>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            from django.views.generic.edit import UpdateView
            from django.urls import reverse
            from app.models import Book
            from app.forms import UpdateForm
            class BookUpdateView(UpdateView):
                model = Book # update object of Book
                fields = ['title', 'available'] # define required fields that want to update
                form_class = UpdateForm
                success_url = reverse('home')
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Url</h2>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            from django.urls import path
            from app.views import BookUpdateView
            urlpatterns = [
                path('update/&lt;int:pk&gt;/', BookUpdateView.as_view(), name='book-update'),
            ]
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Explanation</h2>
    <h5 class="mt-3 mb-5">
        You don't need to explicitly check whether the form is valid or invalid.
        before saving the object. Django's UpdateView handles form validation for you automatically.
        If the form is valid, it will update the object in the database and then redirect to the success_url.
        If the form is invalid, it will redisplay the form with validation errors.
    </h5>
</div>