<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">ListView</h1>
    <h4 class="text-center mt-4 mb-5">Built in class used to display multiple model objects.</h4>

    <hr />
    <h2 class="my-5 custom-title">Model</h2>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            class Book(models.Model):
                title = models.CharField(max_length=100)
                available = models.BooleanField(default=False)
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">View</h2>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            from django.views.generic import ListView
            from books.models import Book
            class BookListView(ListView):
                model = Book # Book.objects.all()
                context_object_name = 'books' # {'books':model}
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Url</h2>
    <div class="mt-3"></div>
    <pre class="mb-2">
        <code class="language-Django">
            from books.views import BookListView
            urlpatterns = [
                path('books/', BookListView.as_view()),
            ]
            <span></span>
        </code>
    </pre>
    <h5 class="mt-5 mb-5 custom-color">It has 3 features.</h5>

    <hr />
    <h2 class="my-5 custom-title">get_context_data</h2>
    <h5 class="mt-4 mb-3">Used to add more context data and change the default context name.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            def get_context_data(self, **kwargs):
                context = super().get_context_data(**kwargs)
                context['books_list'] = Book.objects.all()
                return context
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">queryset</h2>
    <h5 class="mt-4 mb-3">Used to define which objects to return.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            queryset = Book.objects.filter(available=True)
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">template_name</h2>
    <h5 class="mt-4 mb-3">Used to define the template name that will be used to display the data.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            template_name = 'books/books.html'
            <span></span>
        </code>
    </pre>
</div>