<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">TemplateView</h1>
    <h4 class="text-center mt-4 mb-5">Built in class used to display template.</h4>

    <hr />
    <h2 class="my-5 custom-title">First way</h2>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            from django.urls import path
            from django.views.generic import TemplateView
            urlpatterns = [
                path('about_us/', TemplateView.as_view(template_name="about_us.html")),
                ...
            ]
            <span></span>
        </code>
    </pre>
    
    <hr />
    <h2 class="my-5 custom-title">Second way</h2>
    <h4 class="mt-4 mb-4">Used to pass context data.</h4>
    <h5 class="mt-5">View</h5>
    <div class="mt-2"></div>
    <pre class="mb-4">
        <code class="language-Django">
            from django.views.generic import TemplateView
            class AboutUsView(TemplateView):
                template_name = "about.html"
                # built in function to customize your context
                def get_context_data(self, **kwargs):
                    context = super().get_context_data(**kwargs)
                    # Add context data here
                    context['hi'] = 'Hello World'
                    return context
            <span></span>
        </code>
    </pre>
    
    <h5 class="mt-5 mb-2">Url</h5>
    <pre class="mb-5">
        <code class="language-Django">
            from django.urls import path
            from app.views import AboutUsView
            urlpatterns = [
                path('about_us/', AboutUsView.as_view()),
            ]
            <span></span>
        </code>
    </pre>
</div>
