<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Response Types</h1>

    <hr />
    <div class="my-5">
        <h2 class="mb-5 custom-title">HttpResponse</h2>
        <h5 class="mt-4">Can be used to return text, even if you pass html, it will interpret it.</h5>
        <div class="mt-4"></div>
        <pre>
            <code class="language-Django">
                HttpResponse("Hello world")
                HttpResponse('&lt;h1&gt;Page not found&lt;/h1&gt;')
                <span></span>
            </code>
        </pre>
    </div>

    <hr />
    <div class="my-5">
        <h2 class="mb-5 custom-title">HttpResponseNotFound</h2>
        <h5 class="mt-4">Used to return html error.</h5>
        <div class="mt-4"></div>
        <pre>
            <code class="language-Django">
                error = '&lt;h1&gt;Page not found&lt;/h1&gt;'
                HttpResponseNotFound(error)
                <span></span>
            </code>
        </pre>
    </div>

    <hr />
    <div class="my-5">
        <h2 class="mb-5 custom-title">Http404</h2>
        <h5 class="mt-4 mb-3">Used to return text error.</h5>
        <pre>
            <code class="language-Django">
                Http404("Magazine does not exist")
                <span></span>
            </code>
        </pre>
    </div>

    <hr />
    <div class="my-5">
        <h2 class="mb-5 custom-title">render</h2>
        <h5 class="mt-4 mb-3">Used to return template and its context. Context used to store data that we want to display in template.</h5>
        <pre>
            <code class="language-Django">
                render(request, "blogs/blogs.html", {"name":"khaled"})
                <span></span>
            </code>
        </pre>
    </div>

    <hr />
    <div class="my-5">
        <h2 class="mb-5 custom-title">redirect</h2>
        <h5 class="mb-3 mt-4">Redirect to another view url.</h5>
        <pre>
            <code class="language-Django">
                urlpatterns = [
                    path("blogs/", views.blogs, name="blogs"),
                    path("blog/&lt;int:id&gt;/", views.blog_by_id, name="blog_by_id"),
                ]
                <span></span>
            </code>
        </pre>
        <div class="mt-3"></div>
        <pre>
            <code class="language-Django">
                redirect('blogs')
                redirect('blog_by_id', id=2)
                redirect('/blogs/blogs/')
                <span></span>
            </code>
        </pre>
    </div>

    <hr />
    <div class="my-5">
        <h2 class="mb-5 custom-title">get_object_or_404</h2>
        <h5 class="mt-4 mb-3">It will return object if it's not null, otherwise it will return error.</h5>
        <pre class="mb-3">
            <code class="language-Django">
                get_object_or_404(Blog, rating__gt=4, pk=2)
                get_object_or_404(Model, filter, primaryKey)
                get_object_or_404(Blog, pk=4)
                <span></span>
            </code>
        </pre>
        <h5 class="mb-3 mt-5">Instead of</h5>
        <pre>
            <code class="language-Django">
                object = Blog.objects.get(pk=4)
                if not object:
                    raise Http404("No Blog matches the given Id.")
                <span></span>
            </code>
        </pre>
    </div>

    <hr />
    <div class="my-5">
        <h2 class="mb-5 custom-title">get_list_or_404</h2>
        <h5 class="mt-4 mb-3">It will return list if it's not null, otherwise it will return error.</h5>
        <pre>
            <code class="language-Django">
                get_list_or_404(Blog, available=True)
                <span></span>
            </code>
        </pre>
        <h5 class="mb-3 mt-5">Instead of</h5>
        <pre>
            <code class="language-Django">
                objects = list(Blog.objects.filter(available=True))
                if not objects:
                    raise Http404("There are no blogs available.")
                <span></span>
            </code>
        </pre>
    </div>
</div>