<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Form</h1>
    <br>
    <hr />
    <h2 class="my-5 custom-title">Form parameters</h2>
    <h5 class="mb-5 mt-5">Form has two main parameters.</h5>
    <hr />
    <h4 class="mb-1 mt-5"><span style="font-size: 24px;font-weight: 700;" class="custom-color text-lg-start">1 </span>Method</h4>
    <h5 class="mb-5 mt-2">post or get. post method is used to delete, update and create data. get method is used to get data and display it.</h5>
    <hr />
    <h4 class="mb-1 mt-5"><span style="font-size: 24px;font-weight: 700;" class="custom-color text-lg-start">2 </span>Action</h4>
    <h5 class="mb-4 mt-2">Define to which view url should form navigate when form submitted.</h5>
    <h6 class="mb-5 mt-4 custom-color">Note: Insert {% csrf_token %} always when the method is post.</h6>
    <hr />
    <h2 class="my-5 custom-title">Example</h2>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            &lt;form method="post" action=""&gt;
                {% csrf_token %}
                &lt;button type="submit"&gt;&lt;/button&gt;
            &lt;/form&gt;
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Pass hidden data</h2>
    <h4 class="mb-3 mt-4">Enables view function to access the data passed from html file. give it a name.</h4>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            &lt;form method="post" action=""&gt;
                {% csrf_token %}
                &lt;input hidden name="id" value="1" /&gt;
                &lt;button type="submit"&gt;&lt;/button&gt;
            &lt;/form&gt;
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Display form from forms file</h2>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            &lt;form method="post" action=""&gt;
                {% csrf_token %}
                {{ form.as_p }}
                &lt;button type="submit"&gt;&lt;/button&gt;
            &lt;/form&gt;
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">As div</h2>
    <h5 class="mb-4 mt-5">Display form wrapped in &lt;div&gt; tags.</h5>
    <div class="d-flex justify-content-start mt-0 mb-5">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">{{ form.as_div }}</h5>
    </div>

    <hr />
    <h2 class="my-5 custom-title">As table</h2>
    <h5 class="mb-4 mt-5">Display form wrapped in table cells wrapped in &lt;tr&gt; tags.</h5>
    <div class="d-flex justify-content-start mt-0 mb-5">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">{{ form.as_table }}</h5>
    </div>


    <hr />
    <h2 class="my-5 custom-title">As p</h2>
    <h5 class="mb-4 mt-5">Display form wrapped in &lt;p&gt; tags.</h5>
    <div class="d-flex justify-content-start mt-0 mb-5">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">{{ form.as_p }}</h5>
    </div>

    <hr />
    <h2 class="my-5 custom-title">As ul</h2>
    <h5 class="mb-4 mt-5">Display form wrapped in &lt;li&gt; tags.</h5>
    <div class="d-flex justify-content-start mt-0 mb-5">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">{{ form.as_ul }}</h5>
    </div>

    <hr />
    <h2 class="my-5 custom-title">Display errors</h2>
    <h4 class="mb-5 mt-5">Display the errors come from forms.py</h4>
    <hr />
    <h4 class="mb-1 mt-5"><span style="font-size: 24px;font-weight: 700;" class="custom-color text-lg-start">1 </span>Display all errors.</h4>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            &lt;form method="post" action=""&gt;
                {% csrf_token %}
                {% if form.non_field_errors %}
                    &lt;ul class="errorlist"&gt;
                        {% for error in form.non_field_errors %}
                            &lt;li&gt;{{ error }}&lt;/li&gt;
                        {% endfor %}
                    &lt;/ul&gt;
                {% endif %}
                {{ form.as_p }}
                &lt;button type="submit"&gt;&lt;/button&gt;
            &lt;/form&gt;
        </code>
    </pre>
    <hr />
    <h4 class="mb-1 mt-5"><span style="font-size: 24px;font-weight: 700;" class="custom-color text-lg-start">2 </span>Display each error individually.</h4>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            &lt;form method="post" action=""&gt;
                {% csrf_token %}
                {{ form.field_name.label_tag }}
                {{ form.field_name }}
                {% if form.field_name.errors %}
                    &lt;ul class="errorlist"&gt;
                    {% for error in form.non_field_errors %}
                        &lt;li&gt;{{ error }}&lt;/li&gt;
                    {% endfor %}
                    &lt;/ul&gt;
                {% endif %}
                ...
                &lt;button type="submit"&gt;&lt;/button&gt;
            &lt;/form&gt;
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Example</h2>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            class LoginForm(forms.Form):
                username = forms.CharField(label='Your username', max_length=150)
                password = forms.CharField(label='Your password', widget=forms.PasswordInput(attrs={'class': 'pt-2'}))
        </code>
    </pre>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            &lt;form method="post" action=""&gt;
                {% csrf_token %}
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    &lt;ul class="errorlist"&gt;
                    {% for error in form.username.errors %}
                        &lt;li&gt;{{ error }}&lt;/li&gt;
                    {% endfor %}
                    &lt;/ul&gt;
                {% endif %}
                {{ form.password.label_tag }}
                {{ form.password }}
                {% if form.password.errors %}
                    &lt;ul class="errorlist"&gt;
                    {% for error in form.password.errors %}
                        &lt;li&gt;{{ error }}&lt;/li&gt;
                    {% endfor %}
                    &lt;/ul&gt;
                {% endif %}
                &lt;button type="submit"&gt;&lt;/button&gt;
            &lt;/form&gt;
        </code>
    </pre>
</div>