<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Form</h1>
    <br>
    <hr />
    <h2 class="my-5 custom-title">Form parameters</h2>
    <h4 class="mb-2 mt-5">Form has two main parameters.</h4>
    <h3 class="custom-title text-start mb-0 mt-5">1</h3>
    <h4 class="mb-1 mt-3">Method</h4>
    <h4 class="mb-4 mt-2">post or get. post method used to delete, update and create data. get method used to get data and display it.</h4>
    <h3 class="custom-title text-start mb-0 mt-5">2</h3>
    <h4 class="mb-1 mt-3">Action</h4>
    <h4 class="mb-1 mt-2">Define to which view url should form navigate when form submitted.</h4>
    <h4 class="mb-5 mt-2">Note: Insert {% csrf_token %} always when the method is post.</h4>
    <hr />
    <h2 class="my-5 custom-title">Example</h2>
    <div class="rounded p-4 mb-5 mt-2 custom-div">
        <p class="mb-1">&lt;form method="post" action=""&gt;</p>
        <p class="mb-1 mr-25">{% csrf_token %}</p>
        <p class="mb-1 mr-25">&lt;button type="submit"&gt;&lt;/button&gt;</p>
        <p class="mb-1">&lt;/form&gt;</p>
    </div>

    <hr />
    <h2 class="my-5 custom-title">Pass hidden data</h2>
    <h4 class="mb-2 mt-4">Enables view function to access the data passed from html file. give it a name.</h4>
    <div class="rounded p-4 mb-5 mt-2 custom-div">
        <p class="mb-1">&lt;form method="post" action=""&gt;</p>
        <p class="mb-1 mr-25">{% csrf_token %}</p>
        <p class="mb-1 mr-25">&lt;input hidden name="id" value="1" /&gt;</p>
        <p class="mb-1 mr-25">&lt;button type="submit"&gt;&lt;/button&gt;</p>
        <p class="mb-1">&lt;/form&gt;</p>
    </div>

    <hr />
    <h2 class="my-5 custom-title">Display form from forms file</h2>
    <div class="rounded p-4 mb-5 mt-2 custom-div">
        <p class="mb-1">&lt;form method="post" action=""&gt;</p>
        <p class="mb-1 mr-25">{% csrf_token %}</p>
        <p class="mb-1 mr-25">{{ form.as_p }}</p>
        <p class="mb-1 mr-25">&lt;button type="submit"&gt;&lt;/button&gt;</p>
        <p class="mb-1">&lt;/form&gt;</p>
    </div>

    <hr />
    <h2 class="my-5 custom-title">As div</h2>
    <div class="d-flex justify-content-start mt-0">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">{{ form.as_div }}</h5>
    </div>
    <h4 class="mb-5 mt-3">Display form wrapped in &lt;div&gt; tags.</h4>

    <hr />
    <h2 class="my-5 custom-title">As table</h2>
    <h4 class="mb-2 mt-5">Display form wrapped in table cells wrapped in &lt;tr&gt; tags.</h4>
    <div class="d-flex justify-content-start mt-0 mb-5">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">{{ form.as_table }}</h5>
    </div>


    <hr />
    <h2 class="my-5 custom-title">As p</h2>
    <div class="d-flex justify-content-start mt-0">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">{{ form.as_p }}</h5>
    </div>
    <h4 class="mb-5 mt-3">Display form in wrapped in &lt;p&gt; tags.</h4>

    <hr />
    <h2 class="my-5 custom-title">As ul</h2>
    <div class="d-flex justify-content-start mt-0">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">{{ form.as_ul }}</h5>
    </div>
    <h4 class="mb-5 mt-3">Display form in wrapped in &lt;li&gt; tags.</h4>

    <hr />
    <h2 class="my-5 custom-title">Display errors</h2>
    <h4 class="mb-4 mt-5">Display errors that come from forms.py</h4>
    <h3 class="custom-title text-start mb-0 mt-5">1</h3>
    <h4 class="mb-1 mt-4">Display all errors.</h4>
    <div class="rounded p-4 mb-5 mt-2 custom-div">
        <p class="mb-1">&lt;form method="post" action=""&gt;</p>
        <p class="mb-1 mr-25">{% csrf_token %}</p>
        <p class="mb-1 mr-25">{% if form.non_field_errors %}</p>
        <p class="mb-1 mr-50">&lt;ul class="errorlist"&gt;</p>
        <p class="mb-1 mr-75">{% for error in form.non_field_errors %}</p>
        <p class="mb-1 mr-100">&lt;li&gt;{{ error }}&lt;/li&gt;</p>
        <p class="mb-1 mr-75">{% endfor %}</p>
        <p class="mb-1 mr-50">&lt;/ul&gt;</p>
        <p class="mb-1 mr-25">{% endif %}</p>
        <p class="mb-1 mr-25">{{ form.as_p }}</p>
        <p class="mb-1 mr-25">&lt;button type="submit"&gt;&lt;/button&gt;</p>
        <p class="mb-1">&lt;/form&gt;</p>
    </div>
    <h3 class="custom-title text-start mb-0 mt-5">2</h3>
    <h4 class="mb-1 mt-4">Display each error individually.</h4>
    <div class="rounded p-4 mb-5 mt-2 custom-div">
        <p class="mb-1">&lt;form method="post" action=""&gt;</p>
        <p class="mb-1 mr-25">{% csrf_token %}</p>
        <p class="mb-1 mr-25">{{ form.field_name.label_tag }}</p>
        <p class="mb-1 mr-25">{{ form.field_name }}</p>
        <p class="mb-1 mr-25">{% if form.field_name.errors %}</p>
        <p class="mb-1 mr-50">&lt;ul class="errorlist"&gt;</p>
        <p class="mb-1 mr-50">{% for error in form.non_field_errors %}</p>
        <p class="mb-1 mr-75">&lt;li&gt;{{ error }}&lt;/li&gt;</p>
        <p class="mb-1 mr-50">{% endfor %}</p>
        <p class="mb-1 mr-50">&lt;/ul&gt;</p>
        <p class="mb-1 mr-25">{% endif %}</p>
        <p class="mb-1 mr-25">...</p>
        <p class="mb-1 mr-25">&lt;button type="submit"&gt;&lt;/button&gt;</p>
        <p class="mb-1">&lt;/form&gt;</p>
    </div>

    <hr />
    <h2 class="my-5 custom-title">Example</h2>
    <div class="rounded p-4 mb-5 mt-2 custom-div">
        <p class="mb-1">class LoginForm(forms.Form):</p>
        <p class="mb-1 mr-25">username = forms.CharField(label='Your username', max_length=150)</p>
        <p class="mb-1 mr-25">password = forms.CharField(label='Your password', widget=forms.PasswordInput(attrs={'class': 'pt-2'}))</p>
    </div>
    <div class="rounded p-4 mb-5 mt-2 custom-div">
        <p class="mb-1">&lt;form method="post" action=""&gt;</p>
        <p class="mb-1 mr-25">{% csrf_token %}</p>
        <p class="mb-1 mr-25">{{ form.username.label_tag }}</p>
        <p class="mb-1 mr-25">{{ form.username }}</p>
        <p class="mb-1 mr-25">{% if form.username.errors %}</p>
        <p class="mb-1 mr-50">&lt;ul class="errorlist"&gt;</p>
        <p class="mb-1 mr-50">{% for error in form.username.errors %}</p>
        <p class="mb-1 mr-75">&lt;li&gt;{{ error }}&lt;/li&gt;</p>
        <p class="mb-1 mr-50">{% endfor %}</p>
        <p class="mb-1 mr-50">&lt;/ul&gt;</p>
        <p class="mb-1 mr-25">{% endif %}</p>
        <p class="mb-1 mr-25">{{ form.password.label_tag }}</p>
        <p class="mb-1 mr-25">{{ form.password }}</p>
        <p class="mb-1 mr-25">{% if form.password.errors %}</p>
        <p class="mb-1 mr-50">&lt;ul class="errorlist"&gt;</p>
        <p class="mb-1 mr-50">{% for error in form.password.errors %}</p>
        <p class="mb-1 mr-75">&lt;li&gt;{{ error }}&lt;/li&gt;</p>
        <p class="mb-1 mr-50">{% endfor %}</p>
        <p class="mb-1 mr-50">&lt;/ul&gt;</p>
        <p class="mb-1 mr-25">{% endif %}</p>
        <p class="mb-1 mr-25">&lt;button type="submit"&gt;&lt;/button&gt;</p>
        <p class="mb-1">&lt;/form&gt;</p>
    </div>
</div>