html {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
    background-color: #ededed;
}

.mr-25{
  margin-left:25px;
}
.mr-50{
  margin-left:50px;
}
.mr-75{
  margin-left:75px;
}
.mr-100{
  margin-left:100px;
}
.mr-125{
  margin-left:125px;
}
.mr-150{
  margin-left:150px;
}
.custom-back{
  background: #417690;
  color:white;
  border: 5px solid white;
}
.custom-div {
    background: #417690;
    color: white;
    width: fit-content;
    text-align: start;
    border: 5px solid white;
}
.custom-inout{
  background: #6e6e6e;
  color: white;
  width: fit-content;
  text-align: start;
  border: 5px solid white;
}
.custom-title {
    font-weight: bold;
    text-align: center;
    color: #417690;
}
.img-border {
    border: 5px solid white;
}
.custom-color{
  color: #417690;
}
.border-white {
    border: 5px solid white;
}
.border-white2 {
    border: 2px solid white;
}
.border-b {
    border: 1px solid #417690;
}
.border-b2 {
    border: 2px solid #417690;
}
.border-b3 {
    border: 3px solid #417690;
}
.bottom-border {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #417690;
    border-radius: 0;
    color: black;
}
.textarea-border {
    border: 1px solid #417690;
    color: black;
}
.custom-option {
    color: white;
    background: #417690;
}
.custom-botton {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}
.custom-opacity {
    transition: 0.2s ease-in-out;
}
.custom-opacity:hover {
    opacity: 0.9;
}
.custom-table {
    color: #417690;
    background: white;
}
.custom-reply {
    background-color: #417690;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: 4px solid #ededed;
}
.custom-form {
    background: white;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
}
