<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Extend</h1>
    <h5 class="mt-5 mb-5 text-center">Imagine that your homepage has a navbar and footer, but when you navigate to another page the navbar and footer are not displayed</h5>
    <hr />
    <h3 class="mt-5 mb-0 custom-color">How to solve that?</h3>
    <h3 class="mt-3 mb-0 custom-color">Will you type your navbar and footer in each page again?</h3>
    <h5 class="mt-5 mb-5">
        By retyping the navbar and footer codes you will waste your time and it is not the best way.
        to shorten these steps and all this effort we will use extend logic.
        in extend file we will create a blocks for the needed logic like content and title.
    </h5>

    <hr />
    <h4 class="mt-5 mb-0">Create base.html in templates that exists at the same level with project root.</h4>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            &lt;html lang="en"&gt;
            &lt;head&gt;
                &lt;meta charset="UTF-8"&gt;
                &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                &lt;title&gt;{% block title %}{% endblock %}&lt;/title&gt;
            &lt;/head&gt;
            &lt;body&gt;
                {% include 'includes/navbar.html' %}
                {% block content %}
                {% endblock %}
                {% include 'includes/footer.html' %}
            &lt;/body&gt;
            &lt;/html&gt;
            <span></span>
        </code>
    </pre>
    <hr />
    <h4 class="mt-5 mb-0">Extend base.html file in wherever you want for example in home.html and in details.html</h4>
    <h5 class="mt-5 mb-0">Home</h5>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            {% extends 'base.html' %}
            {% block title %}
                "Home"
            {% endblock %}
            {% block content %}
                &lt;h1&gt;Home Page&lt;/h1&gt;
            {% endblock %}
            <span></span>
        </code>
    </pre>

    <h5 class="mt-5 mb-0">Details</h5>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            {% extends 'base.html' %}
            {% block title %}
                "Details"
            {% endblock %}
            {% block content %}
                &lt;h1&gt;Details Page&lt;/h1&gt;
            {% endblock %}
            <span></span>
        </code>
    </pre>
    <h5 class="mt-5 mb-5 custom-color">In previous examples home and details will have the nav and footer without retyping the code.</h5>
</div>