<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Filters</h1>

    <hr />
    <h2 class="my-5 custom-title">add</h2>
    <h4 class="mt-3 mb-4">Add argument to the value.</h4>
    <pre>
        <code class="language-Django">
            {{ comment|add:"3" }}
            <span></span>
        </code>
    </pre>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            output: if comment equal 1, the display value will be 4
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">capfirst</h2>
    <h4 class="mt-3 mb-4">Capitalizes the first letter of the value.</h4>
    <pre>
        <code class="language-Django">
            {{ name|capfirst }}
            <span></span>
        </code>
    </pre>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            output: if name equal khaled, the display value will be Khaled
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">lower</h2>
    <h4 class="mt-3 mb-4">Convert name to lower case.</h4>
    <pre>
        <code class="language-Django">
            {{ name|lower }}
            <span></span>
        </code>
    </pre>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            output: if name equal KHaled, the display value will be khaled
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">upper</h2>
    <h4 class="mt-3 mb-4">Convert name to upper case.</h4>
    <pre>
        <code class="language-Django">
            {{ name|upper }}
            <span></span>
        </code>
    </pre>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            output: if name equal khaled, the display value will be KHaled
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">truncatewords</h2>
    <h4 class="mt-3 mb-0">Display defined number of words.</h4>
    <h5 class="mt-4 mb-4">Get the first 2 words.</h5>
    <pre class="mb-2">
        <code class="language-Django">
            {{ description|truncatewords:2 }}
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output: if description equal hello this is khaled, the display value will be hello this
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">truncatechars</h2>
    <h4 class="mt-3 mb-0">Display defined number of letters.</h4>
    <h5 class="mt-4 mb-4">Get the first 4 letters of khaled name.</h5>
    <pre>
        <code class="language-Django">
            {{ name||truncatechars:4 }}
            <span></span>
        </code>
    </pre>
    <div class="mt-2"></div>
    <pre>
        <code class="language-Django">
            output: khal...
            <span></span>
        </code>
    </pre>
    <h4 class="mt-5 mb-3">default: if the name is null, the default value will be displayed.</h4>
    <pre class="mb-5">
        <code class="language-Django">
            {{ name|default:"None" }}
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">length</h2>
    <h4 class="mt-3 mb-4">Return length of string and list.</h4>
    <pre>
        <code class="language-Django">
            {{ authors|length }} # [author1, author2, author3]
            <span></span>
        </code>
    </pre>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            output: 3
            <span></span>
        </code>
    </pre>
    <pre class="mb-2">
        <code class="language-Django">
            {{ name|length }} # khaled
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output: 6
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">cut</h2>
    <h4 class="mt-3 mb-4">Remove define argument.</h4>
    <pre class="mb-2">
        <code class="language-Django">
            {{ name|cut:"a" }}
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output: if name equal khaled alshami. the display name will be khled lshami
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">first</h2>
    <h4 class="mt-3 mb-4">Return the first item in the list.</h4>
    <pre class="mb-2">
        <code class="language-Django">
            {{ author_ids|first }} #[1, 2, 3]
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output: the display value is 1
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">last</h2>
    <h4 class="mt-3 mb-4">Return the last item in the list.</h4>
    <pre class="mb-2">
        <code class="language-Django">
            {{ author_ids|last }} #[1, 2, 3]
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output: the display value is 3
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">get_digit</h2>
    <h4 class="mt-3 mb-4">Return digit depends on given value. count will be from right.</h4>
    <pre class="mb-2">
        <code class="language-Django">
            {{ points|get_digit:"3" }} #2435
            <span></span>
        </code>
    </pre>

    <pre class="mb-5">
        <code class="language-Django">
            output: the display value is 4
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">join</h2>
    <h4 class="mt-3 mb-4">Convert list to string by specific spacing.</h4>
    <pre class="mb-2">
        <code class="language-Django">
            {{ my_list|join:"..." }} ["hello", "world"]
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output: hello...world
            <span></span>
        </code>
    </pre>
    <pre class="mb-2">
        <code class="language-Django">
            {{ my_list|join:" - " }}
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output: hello - world
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">length_is</h2>
    <h4 class="mt-3 mb-4">Check if length is equal to given length.</h4>
    <pre class="mb-5">
        <code class="language-Django">
            {% if name|length_is:"6" %} # khaled
                {{name}}
            {% endif %}
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">pluralize</h2>
    <h4 class="mt-3 mb-4">Return a plural suffix if value is not single. plural suffix is s letter.</h4>
    <pre>
        <code class="language-Django">
            You have {{ num_messages }} message{{ num_messages|pluralize }}.
            <span></span>
        </code>
    </pre>
    <div class="mt-2"></div>
    <pre>
        <code class="language-Django">
            output: if messages > 1. the display value will be You have 3 messages
            <span></span>
        </code>
    </pre>
    <h5 class="mt-5 mb-3">Change the default pluralize value (s).</h5>
    <pre class="mb-2">
        <code class="language-Django">
            {{ num_categories }} category{{ num_categories|pluralize:"ies" }}.
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output: if categories > 1. the display value will be 3 categories
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">slice</h2>
    <h4 class="mt-3 mb-4">Get specific elements of list.</h4>
    <pre>
        <code class="language-Django">
            {{ names|slice:":3" }} # ["ahmed", "naser", "raghad", "ehsan"]
            <span></span>
        </code>
    </pre>
    <h4 class="mt-5 mb-3">return the first elements of list</h4>
    <pre class="mb-5">
        <code class="language-Django">
            result: ["ahmed", "naser", "raghad"]
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">slugify</h2>
    <h5 class="mt-3 mb-4">Convert spaces in specific value into hyphens.</h5>
    <pre>
        <code class="language-Django">
            {{ name|slugify }} # khaled zakaria alshammi
            <span></span>
        </code>
    </pre>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            output: the display value will be khaled-zakaria-alshammi
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">wordcount</h2>
    <h5 class="mt-3 mb-4">Return how many words in specific value.</h5>
    <pre class="mb-3">
        <code class="language-Django">
            {{ name|wordcount }} # khaled zakaria alshammi
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output: the display value will be 3
            <span></span>
        </code>
    </pre>
</div>