<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Include</h1>
    <h5 class="mt-5 mb-5">
        If you have a code that you want to use it in many places.
        instead of duplication and retyping the code you can put it.
        in html file then you can include it as much you want.
    </h5>

    <hr />
    <h2 class="my-5 custom-title">Example</h2>
    <h5 class="mt-3 mb-0">If you want hello world to appear in home.html, index.html, details.html</h5>
    <h5 class="mt-3 mb-0">Create includes folder inside templates folder.</h5>
    <h5 class="mt-3 mb-1">Create an html and name it whatever you want, for example hello.html</h5>
    <h5 class="mt-3 mb-4">Insert the following code in hello.html file.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            &lt;h1&gt;Hello World&lt;/h1&gt;
            <span></span>
        </code>
    </pre>

    <hr />
    <h5 class="mt-5 mb-0">To include this file in home, index and details files.</h5>
    <h5 class="mt-2 mb-3">Follow the following steps in each file:</h5>
    <pre>
        <code class="language-Django">
            {% include 'includes/hello.html' %}
            <span></span>
        </code>
    </pre>

    <hr />
    <h5 class="mt-5 mb-0">You can pass parameter with include.</h5>
    <h5 class="mt-2 mb-3">Let's change hello.html file content.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            &lt;h1&gt;hello {{name}}&lt;/h1&gt;
            <span></span>
        </code>
    </pre>

    <hr />
    <h5 class="mt-5 mb-0">To include this file in home, index and details files.</h5>
    <h5 class="mt-2 mb-3">Follow the following steps in each file:</h5>
    <pre class="mb-5">
        <code class="language-Django">
            {% include 'includes/hello.html' with name="khaled" %}
            <span></span>
        </code>
    </pre>
</div>