<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Tag</h1>
    <h4 class="text-center mt-4 mb-5">Use {{}} with variable.</h4>

    <hr />
    <h2 class="my-5 custom-title">if</h2>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            {% if published %}
                {{blog.name}}
            {% endif %}
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">for</h2>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            {% for author in authors %}
                &lt;h1&gt;{{ author.name }}&lt;/h1&gt;
            {% endfor %}
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">csrf_token</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            {% csrf_token %}
            <span></span>
        </code>
    </pre>
    <h4 class="mt-3 mb-5">Used for CSRF protection in form method (POST).</h4>

    <hr />
    <h2 class="my-5 custom-title">Include</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            {% include 'navbar' %}
            <span></span>
        </code>
    </pre>
    <h4 class="mt-3 mb-5">Include partial template.</h4>

    <hr />
    <h2 class="my-5 custom-title">Extend</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            {% extends 'base.html' %}
            <span></span>
        </code>
    </pre>
    <h4 class="mt-3 mb-5">Extend base template (inheritance).</h4>

    <hr />
    <h2 class="my-5 custom-title">comment</h2>
    <div class="mt-3"></div>
    <pre class="mb-5">
        <code class="language-Django">
            {% comment %}
                comment
            {% endcomment %}
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">filter</h2>
    <div class="mt-3"></div>
    <pre class="mb-3">
        <code class="language-Django">
            {% filter truncatewords:10|lower %}
                {{description}}
            {% endfilter %}
            <span></span>
        </code>
    </pre>
    <h4 class="mt-0 mb-5">Used to implement multiple filters.</h4>

    <hr />
    <h2 class="my-5 custom-title">firstof</h2>
    <div class="mt-3"></div>
    <pre class="mb-2">
        <code class="language-Django">
            {% firstof name first_name last_name "Not find" %}
            <span></span>
        </code>
    </pre>
    <h4 class="mt-4 mb-3">Instead of:</h4>
    <pre class="mb-5">
        <code class="language-Django">
            {% if name %}
                {{ name }}
            {% elif first_name %}
                {{ first_name }}
            {% elif last_name %}
                {{ last_name }}
            {% else %}
                Not find
            {% endif %}
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">forloop.counter</h2>
    <div class="mt-3"></div>
    <pre class="mb-3">
        <code class="language-Django">
            {% for author in authors %}
                &lt;h1&gt;{{forloop.counter}}. {{ author.name }}&lt;/h1&gt;
            {% endfor %}
            <span></span>
        </code>
    </pre>
    <pre class="mb-5">
        <code class="language-Django">
            output:
            1. khaled
            2. alshammi
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">url</h2>
    <div class="mt-3"></div>
    <pre class="mb-2">
        <code class="language-Django">
            path('article/&lt;int:article_id&gt;/', views.article_detail, name='article_detail')
            <span></span>
        </code>
    </pre>
    <pre>
        <code class="language-Django">
            &lt;a href="{% url 'article_detail' article_id=1 %}"&gt;Read Article 1&lt;/a&gt;
            <span></span>
        </code>
    </pre>
    <h4 class="mt-4 mb-5">Used to navigate to particular view.</h4>

    <hr />
    <h2 class="my-5 custom-title">i18n</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            {% load i18n %}
            <span></span>
        </code>
    </pre>
    <h4 class="mt-3 mb-5">Used in the top to enable translation.</h4>

    <hr />
    <h2 class="my-5 custom-title">static</h2>
    <div class="mt-3"></div>
    <pre>
        <code class="language-Django">
            {% load static %}
            <span></span>
        </code>
    </pre>
    <h4 class="mt-3 mb-5">Used in the top to use static items like css, js, fonts and images.</h4>
</div>