<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Database</h1>
    <h4 class="text-center mt-4 mb-5">Change the database type.</h4>
    <hr />
    <h2 class="my-5 custom-title">Install MySQL adapter</h2>
    <h4 class="mt-4 mb-4">Change the database into MySQL.</h4>
    <pre>
        <code class="language-Django">
            pip install mysqlclient
            <span></span>
        </code>
    </pre>
    <h4 class="mt-5 mb-1">Go to the project root > settings.py. Update the Database Settings. Change the database configuration.</h4>
    <div class="mt-3"></div>
    <pre class="mb-3">
        <code class="language-Django">
            DATABASES = {
                'default': {
                    'ENGINE': 'django.db.backends.mysql',
                    'NAME': 'your_database_name',
                    'USER': 'your_mysql_user',
                    'PASSWORD': 'your_mysql_password',
                    'HOST': 'localhost', # Set the host if not using the default 'localhost'
                    'PORT': '', # Set the port if not using the default MySQL port (3306)
                }
            }
            <span></span>
        </code>
    </pre>
    <h4 class="mt-5 mb-2">Run Migrate</h4>
    <div class="mt-1"></div>
    <pre class="mb-5">
        <code class="language-Django">
            python manage.py migrate
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Install PostgreSQL adapter</h2>
    <h4 class="mt-4 mb-0">Change the database into PostgreSQL.</h4>
    <pre class="mb-5 mt-2">
        <code class="language-Django">
            pip install psycopg2
            <span></span>
        </code>
    </pre>
    <h4 class="mt-5 mb-1">Go to the project root > settings.py. Update the Database Settings. Change the database configuration.</h4>
    <div class="mt-2"></div>
    <pre class="mb-2">
        <code class="language-Django">
            DATABASES = {
                'default': {
                    'ENGINE': 'django.db.backends.postgresql',
                    'NAME': 'your_database_name',
                    'USER': 'your_postgresql_user',
                    'PASSWORD': 'your_postgresql_password',
                    'HOST': 'localhost', # Set the host if not using the default 'localhost'
                    'PORT': '', # Set the port if not using the default MySQL port (3306)
                }
            }
            <span></span>
        </code>
    </pre>

    <h4 class="mt-5 mb-2">Run Migrate</h4>
    <pre class="mb-5">
        <code class="language-Django">
            python manage.py migrate
            <span></span>
        </code>
    </pre>
</div>