<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Send Email</h1>
    <h5 class="mt-5 mb-0">Config Your email data in .env file.</h5>
    <h5 class="mt-2 mb-0">Create .env file in same level with project root to create Environment Variables.</h5>
    <h5 class="mt-2 mb-1">Inside .env file put that code and insert your email data.</h5>
    <div class="mt-2"></div>
    <pre class="mb-4">
        <code class="language-Django">
            EMAIL_HOST = 'smtp.gmail.com'
            EMAIL_PORT = "Your Email Port"
            EMAIL_USE_TLS = "True"
            EMAIL_HOST_USER = "Your Email"
            EMAIL_HOST_PASSWORD = "Your Email Password"
            <span></span>
        </code>
    </pre>
    <h4 class="mt-5 mb-0 custom-color">Why to create .env file?</h4>
    <h5 class="mt-3 mb-4">Because when we want to deploy the code. we want the to keep sensitive information hidden. Before deploying the codes. don't forget to put .env file in .gitignore file.</h5>
    <h5 class="mt-4 mb-0">In settings.py insert the following steps:</h5>
    <div class="mt-2"></div>
    <pre class="mb-4">
        <code class="language-Django">
            import os
            EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
            EMAIL_HOST = config('EMAIL_HOST')
            EMAIL_PORT = config('EMAIL_PORT',cast=int)
            EMAIL_USE_TLS = config('EMAIL_USE_TLS',cast=bool)
            EMAIL_HOST_USER = config('EMAIL_HOST_USER')
            EMAIL_HOST_PASSWORD = config('EMAIL_HOST_PASSWORD')
            <span></span>
        </code>
    </pre>
    <h4 class="mt-5 mb-5">To send an email you have 2 ways.</h4>

    <hr />
    <h2 class="my-5 custom-title">First way</h2>
    <div class="mt-4"></div>
    <pre class="mb-5">
        <code class="language-Django">
            from django.core.mail import EmailMessage
            email = EmailMessage(
                'Subject',
                'Message',
                'from@example.com',
                ['to@example.com'],
                reply_to=['another@example.com'], #optional
                fail_silently=False, # determines whether exceptions during sending should be raised or not
            )
            email.attach() #optional
            email.send()
            Example:
            email = EmailMessage(
                'Test Email',
                'Hello world',
                'from@example.com',
                ['to@example.com', 'to@example.com'],
                reply_to=['another@example.com'],
                fail_silently=False,
            )
            # Attach a file to the email
            with open('path/to/attachment.pdf', 'rb') as attachment_file:
                email.attach('attachment.pdf', attachment_file.read(), 'application/pdf')
            email.send()
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Second way</h2>
    <h5 class="mt-4 mb-0">Get the data from html form.</h5>
    <h4 class="mt-5 mb-0 custom-color">Html:</h4>
    <div class="mt-4"></div>
    <pre class="mb-4">
        <code class="language-html">
            &lt;form method="post" enctype="multipart/form-data" action="{% url 'send_email' %}"&gt;
                {% csrf_token %}
                &lt;label for="subject"&gt;Subject:&lt;/label&gt;
                &lt;input type="text" name="subject" required&gt;&lt;br&gt;&lt;br&gt;
                &lt;label for="message"&gt;Message:&lt;/label&gt;
                &lt;textarea name="message" rows="4" required&gt;&lt;/textarea&gt;&lt;br&gt;&lt;br&gt;
                &lt;label for="attachment"&gt;Attachment:&lt;/label&gt;
                &lt;input type="file" name="attachment"&gt;&lt;br&gt;&lt;br&gt;
                &lt;label for="email"&gt;Your Email:&lt;/label&gt;
                &lt;input name="email" rows="4" required&gt;&lt;/input&gt;&lt;br&gt;&lt;br&gt;
                &lt;input type="submit" value="Send Email"&gt;
            &lt;/form&gt;
        </code>
    </pre>

    <h4 class="mt-4 mb-4 custom-color">View:</h4>

    <pre class="mb-5">
        <code class="language-Django">
            def send_email(request):
                if request.method == 'POST':
                    subject = request.POST['subject']
                    message = request.POST['message']
                    from = request.POST['email']
                    attachment = request.FILES.get('attachment')
                    email = EmailMessage(
                        subject,
                        message,
                        from,
                        ['to@example.com'],
                    )
                    if attachment:
                        email.attach(attachment.name, attachment.read(), attachment.content_type)
                    try:
                        email.send()
                        return HttpResponse("Email sent successfully!")
                    except:
                        return HttpResponse("An error occurred while sending the email.")
                return render(request, 'index.html')
            <span></span>
        </code>
    </pre>
</div>