<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Install Django</h1>
    <hr />
    <h5 class="mb-1 mt-5">Create a folder and name it whatever you want.</h5>
    <figure class="figure mb-5 mt-2">
        <img src="~/images/project_images/install_django/folder.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <hr />
    <h5 class="mb-1 mt-5">Open it in visual studio code.</h5>
    <h5 class="mb-4 mt-1">Go to Terminal > New Terminal.</h5>
    <figure class="figure mb-5 mt-2">
        <img src="~/images/project_images/install_django/terminal.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <hr />
    <h5 class="mb-1 mt-5">Create your virtual environment that will contain the project packages.</h5>
    <h5 class="mb-4 mt-1">Use the following command.</h5>
    <pre>
        <code class="language-Django">
            python -m venv environment name
            <span></span>
        </code>
    </pre>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/env.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <hr />
    <h5 class="mb-4 mt-5">Activate your environment.</h5>
    <pre class="mb-2">
        <code class="language-Django">
            environment name\Scripts\activate
            <span></span>
        </code>
    </pre>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/activate.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <hr />
    <h5 class="mb-4 mt-5">Install the Django framework. Use the following command.</h5>
    <pre class="mb-2">
        <code class="language-Django">
            python -m pip install Django
            <span></span>
        </code>
    </pre>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/django.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <hr />
    <h5 class="mb-2 mt-5">Use the following command to create your project.</h5>
    <pre class="mb-4">
        <code class="language-Django">
            django-admin startproject project name
            <span></span>
        </code>
    </pre>
    <h5 class="mb-1 mt-5">Example: Ecommerce, tic_tac_toe etc.</h5>
    <figure class="figure mb-5 mt-2">
        <img src="~/images/project_images/install_django/app.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <hr />
    <h5 class="mb-1 mt-5">Make the files structure like this.</h5>
    <figure class="figure mb-1 mt-2">
        <img src="~/images/project_images/install_django/magazine.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h5 class="mb-2 mt-5">Run the project to make sure that everythings are working fine.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            python manage.py runserver
            <span></span>
        </code>
    </pre>
    <hr />
    <h4 class="mb-5 mt-5 custom-color">What's the difference between the project and app?</h4>
    <h5 class="mb-3 mt-2">Apps are part of project so, project consist of multiple apps.</h5>
    <h5 class="mb-3 mt-1">For Example: Ecommerce Project will contain cart, product, category apps etc.</h5>
    <h5 class="mb-5 mt-1">Each app will contain its own files as view, model, admin etc.</h5>
    <hr />
    <h5 class="mb-2 mt-5">To create an app use the following command.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            python manage.py startapp app name
            <span></span>
        </code>
    </pre>
    <h5 class="mb-1 mt-1">For example blogs.</h5>
    <h5 class="mb-1 mt-2">The app should have indecative name.</h5>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/terminal2.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <hr />
    <h5 class="mb-3 mt-5 custom-color">Note: In blogs app we will create the urls file.</h5>
    <h5 class="mb-2 mt-3">Put the following code in the urls file.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            from django.urls import path
            from . import views
            urlpatterns = [
                path("", views.index, name="index"),
            ]
            <span></span>
        </code>
    </pre>
    <hr />
    <h5 class="mb-4 mt-5">When you create a new app. put the previous codes.</h5>
    <h5 class="mb-4 mt-1">views.index and name="index" can be changed according to your view. We will explain that in details in the url section.</h5>
    <h5 class="mb-5 mt-1">In your project root, include each app urls file. for example include blogs urls</h5>
    <hr />
    <h5 class="mb-2 mt-5">Go to your project root > urls.py then put the following code.</h5>
    <pre class="mb-3">
        <code class="language-Django">
            from django.contrib import admin
            from django.urls import include, path
            urlpatterns = [
                path('admin/', admin.site.urls),
                path("blogs/", include("blogs.urls")),
            ]
            <span></span>
        </code>
    </pre>
    <h5 class="mb-2 mt-5">Go to project root > settings.py add your app name in INSTALLED_APPS list.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            INSTALLED_APPS = [
                ...
                'blogs'
            ]
            <span></span>
        </code>
    </pre>
    <hr />
    <h5 class="mb-4 mt-5">In django the default database is Sqlite. Check the database section to know how to change the database type.</h5>
    <h5 class="mb-4 mt-4">Use the following command to build the database.</h5>
    <pre class="mb-2">
        <code class="language-Django">
            python manage.py migrate
            <span></span>
        </code>
    </pre>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/migrate.png" class="figure-img img-fluid rounded img-border">
    </figure>
</div>