<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Install Django</h1>
    <h4 class="mb-1 mt-4">Create a folder and name it whatever you want.</h4>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/folder.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h4 class="mb-1 mt-4">Open it in visual studio code.</h4>
    <h4 class="mb-1 mt-4">Go to Terminal > New Terminal.</h4>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/terminal.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h4 class="mb-1 mt-4">Create your virtual environment that will contain the project packages.</h4>
    <h4 class="mb-1 mt-4">Use the following command.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">python -m venv environment name</h5>
    </div>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/env.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h4 class="mb-1 mt-4">Activate your environment.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">environment name\Scripts\activate</h5>
    </div>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/activate.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h4 class="mb-1 mt-4">Install the Django framework. Use the following command.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">python -m pip install Django</h5>
    </div>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/django.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h4 class="mb-1 mt-4">Use the following command.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">django-admin startproject project name</h5>
    </div>
    <h4 class="mb-1 mt-4">Example: Ecommerce, tic_tac_toe etc.</h4>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/app.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h4 class="mb-1 mt-4">Make the files structure like this.</h4>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/magazine.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h4 class="mb-1 mt-4">Run the project to make sure that everythings are working fine.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">python manage.py runserver</h5>
    </div>
    <h4 class="mb-1 mt-4">What's the difference between the project and app?</h4>
    <h4 class="mb-1 mt-4">Apps are the part of project, so project consist of multiple apps.</h4>
    <h4 class="mb-1 mt-4">For Example: Ecommerce Project will contain cart app, product app, category app etc.</h4>
    <h4 class="mb-1 mt-4">Each app will contain its own files as view, model, admin etc.</h4>
    <h4 class="mb-1 mt-4">To create an app use the following command.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">python manage.py startapp appname</h5>
    </div>
    <h4 class="mb-1 mt-4">For example blogs.</h4>
    <h4 class="mb-1 mt-4">The app should have indecative name.</h4>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/terminal2.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <h4 class="mb-1 mt-4">In blogs app we will create urls file.</h4>
    <h4 class="mb-1 mt-4">Put the following codes in urls file.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">from django.urls import path</p>
        <p class="mb-1">from . import views</p>
        <p class="mb-1">urlpatterns = [</p>
        <p class="mb-1 mr-25">path("", views.index, name="index"),</p>
        <p class="mb-1">]</p>
    </div>
    <h4 class="mb-1 mt-4">When you create a new app put the previous codes.</h4>
    <h4 class="mb-1 mt-4">views.index and name="index" can be changed according to your view. We will explain that in details in url section.</h4>
    <h4 class="mb-1 mt-4">In your project root, include each app urls file. for example include blogs urls</h4>
    <h4 class="mb-1 mt-4">Go to your project root > urls.py then put the following code.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">from django.contrib import admin</p>
        <p class="mb-1">from django.urls import include, path</p>
        <p class="mb-1">urlpatterns = [</p>
        <p class="mb-1 mr-25">path('admin/', admin.site.urls),</p>
        <p class="mb-1 mr-25">path("blogs/", include("blogs.urls")),</p>
        <p class="mb-1">]</p>
    </div>
    <h4 class="mb-1 mt-4">Go to project root > settings.py add your app name in INSTALLED_APPS list.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">INSTALLED_APPS = [</p>
        <p class="mb-1 mr-25">...</p>
        <p class="mb-1 mr-25">'blogs'</p>
        <p class="mb-1">]</p>
    </div>
    <h4 class="mb-1 mt-4">In django the default database is Sqlite. Check the database section to know how to change the database type.</h4>
    <h4 class="mb-1 mt-4">Use the following command to build the database.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">python manage.py migrate</h5>
    </div>
    <figure class="figure mb-5 mt-1">
        <img src="~/images/project_images/install_django/migrate.png" class="figure-img img-fluid rounded img-border">
    </figure>
</div>