<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Install Python</h1>
    <h5 class="mt-5 mb-3">
        <a style="color:black;" href="https://www.python.org/downloads/">Click here</a>
    </h5>

    <figure class="figure my-4">
        <img src="~/images/project_images/install_python/python.png" class="figure-img img-fluid rounded img-border">
    </figure>
    <figure class="figure my-5">
        <img src="~/images/project_images/install_python/python2.png" class="figure-img img-fluid rounded img-border">
    </figure>
</div>