<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Simple Website</h1>
    <h4 class="mb-1 mt-4">The webiste will be about displaying magazines with its blogs. blogs will be created by author.</h4>    
    <h4 class="mb-1 mt-4">Create the virtual environment.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">python -m venv environment magazinevenv</h5>
    </div>
    <h4 class="mb-1 mt-4">Activate the environment.</h4>    
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">magazinevenv\Scripts\activate</h5>
    </div>
    <h4 class="mb-1 mt-4">Install the Django.</h4>    
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">python -m pip install Django</h5>
    </div>
    <h4 class="mb-1 mt-4">Create magazine project.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">django-admin startproject magazine</h5>
    </div>
    <h4 class="mb-1 mt-4">Create blogs app.</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">python manage.py startapp blogs</h5>
    </div>
    <h4 class="mb-1 mt-4">Download jazzmin package</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">pip install -U django-jazzmin</h5>
    </div>
    <h4 class="mb-1 mt-4">Create urls file in blogs app.</h4>
    <h4 class="mb-1 mt-4">Add blogs and jazzmin into INSTALLED_APPS.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">INSTALLED_APPS = [</p>
        <p class="mb-1 mr-25">'jazzmin',</p>
        <p class="mb-1 mr-25">'django.contrib.admin',</p>
        <p class="mb-1 mr-25">...</p>
        <p class="mb-1 mr-25">'blogs'</p>
        <p class="mb-1">]</p>
    </div>
    <h4 class="mb-1 mt-4">Configure the templates by change DIRS in TEMPLATES list into:</h4>
    <div class="d-flex justify-content-start mt-5">
        <h5 class="rounded my-4 p-3 custom-back">'DIRS': [BASE_DIR / 'templates']</h5>
    </div>
    <h4 class="mb-1 mt-4">Configure static and media files.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">STATIC_URL = 'static/'</p>
        <p class="mb-1">STATICFILES_DIRS = [</p>
        <p class="mb-1 mr-25">BASE_DIR / "static",</p>
        <p class="mb-1">]</p>
        <p class="mb-1">STATIC_ROOT = BASE_DIR / "staticfiles"</p>
        <p class="mb-1">MEDIA_URL = '/media/'</p>
        <p class="mb-1">MEDIA_ROOT = os.path.join(BASE_DIR, 'media/')</p>
    </div>
    <h4 class="mb-1 mt-4">Change magazine urls into following code to include blogs urls, configure static and media files.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">from django.contrib import admin</p>
        <p class="mb-1">from django.urls import include, path</p>
        <p class="mb-1">from django.conf.urls.static import static</p>
        <p class="mb-1">from django.conf import settings</p>
        <p class="mb-1">urlpatterns = [</p>
        <p class="mb-1 mr-25">path('admin/', admin.site.urls),</p>
        <p class="mb-1 mr-25">path("", include("blogs.urls")),</p>
        <p class="mb-1">]+static(settings.MEDIA_URL,document_root=settings.MEDIA_ROOT)</p>
    </div>

    <hr />
    <h2 class="my-5 custom-title">Models</h2>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">from django.db import models</p>
        <p class="mb-1">from django.contrib.auth.models import User</p>
        <p class="mb-1">class Author(models.Model):</p>
        <p class="mb-1 mr-25">name = models.ForeignKey(User, on_delete=models.CASCADE, verbose_name="Name")</p>
        <p class="mb-1 mr-25">email = models.EmailField(verbose_name="Email", unique=True)</p>
        <p class="mb-1 mr-25">profile_image = models.ImageField(upload_to='profile_images/', verbose_name="Profile Image")</p>
        <p class="mb-1 mr-25">bio = models.TextField(verbose_name="Bio")</p>
        <p class="mb-1 mr-25">def __str__(self):</p>
        <p class="mb-1 mr-50">return self.email</p>
        <br>
        <p class="mb-1">class Magazine(models.Model):</p>
        <p class="mb-1 mr-25">title = models.CharField(max_length=150, verbose_name="Title")</p>
        <p class="mb-1 mr-25">publish_date = models.DateTimeField(auto_now_add=True, verbose_name="Publish date")</p>
        <p class="mb-1 mr-25">description = models.TextField(verbose_name="Description")</p>
        <p class="mb-1 mr-25">def __str__(self) -> str:</p>
        <p class="mb-1 mr-50">return self.title</p>
        <br>
        <p class="mb-1">class Blog(models.Model):</p>
        <p class="mb-1 mr-25">STATUS_CHOICES = [</p>
        <p class="mb-1 mr-50">('d', 'Draft'),</p>
        <p class="mb-1 mr-50">('p', 'Published'),</p>
        <p class="mb-1 mr-50">('w', 'Withdrawn'),</p>
        <p class="mb-1 mr-25">]</p>
        <p class="mb-1 mr-25">author = models.ForeignKey(Author, on_delete=models.CASCADE, verbose_name="Author")</p>
        <p class="mb-1 mr-25">title = models.CharField(max_length=150, verbose_name="Title")</p>
        <p class="mb-1 mr-25">content = models.TextField(verbose_name="Content")</p>
        <p class="mb-1 mr-25">magazine = models.ForeignKey(Magazine, on_delete=models.CASCADE, verbose_name="Magazine")</p>
        <p class="mb-1 mr-25">status = models.CharField(max_length=1, choices=STATUS_CHOICES, verbose_name="Status")</p>
        <p class="mb-1 mr-25">cover_image = models.ImageField(upload_to='blog_covers/', verbose_name="Image")</p>
        <p class="mb-1 mr-25">publish_date = models.DateTimeField(verbose_name="Publish date", blank=True, null=True)</p>
        <p class="mb-1 mr-25">def __str__(self) -> str:</p>
        <p class="mb-1 mr-50">return self.title</p>
    </div>
    <h4 class="mb-1 mt-4">Author will have unique email, could have multiple blogs. magazine could have multiple blogs. blog should be binded with magazine and author.</h4>
    <h4 class="mb-1 mt-4">Run:</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">python manage.py migrate</p>
        <p class="mb-1">python manage.py makemigrations</p>
        <p class="mb-1">python manage.py migrate</p>
    </div>
    <h4 class="mb-1 mt-4">Register your models in admin.py</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">from django.contrib import admin</p>
        <p class="mb-1">from .models import Blog, Magazine, Author</p>
        <p class="mb-1">admin.site.register(Blog)</p>
        <p class="mb-1">admin.site.register(Magazine)</p>
        <p class="mb-1">admin.site.register(Author)</p>
    </div>
    <h4 class="mb-1 mt-4">Run:</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">python manage.py createsuperuser</p>
        <p class="mb-1">python manage.py runserver</p>
    </div>
    <h4 class="mb-1 mt-4">Navigate to /admin/</h4>
    <h4 class="mb-1 mt-4">Example: http://127.0.0.1:8000/admin/</h4>
    <h4 class="mb-1 mt-4">Build your view.</h4>
    <h4 class="mb-1 mt-4">Get all magazines ordered from the latest magazines to the old ones.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">from django.shortcuts import render</p>
        <p class="mb-1">from .models import *</p>
        <p class="mb-1">def magazines(request):</p>
        <p class="mb-1 mr-25">magazines = Magazine.objects.all().order_by("-publish_date")</p>
        <p class="mb-1 mr-25">return render(request, "blogs/homepage.html", {"magazines":magazines})</p>
    </div>
    <h4 class="mb-1 mt-4">Get magazine by its id. get all published blogs related to that magazine.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">def magazine(request, pk):</p>
        <p class="mb-1 mr-25">magazine = Magazine.objects.get(pk=pk)</p>
        <p class="mb-1 mr-25">blogs = Blog.objects.filter(magazine_id=pk, status="p").order_by("-publish_date")</p>
        <p class="mb-1 mr-25">return render(request, "blogs/magazine_details.html", {"magazines":magazine, "blogs":blogs})</p>
    </div>
    <h4 class="mb-1 mt-4">Get blog by its id.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">def blog(request, pk):</p>
        <p class="mb-1 mr-25">blog = Blog.objects.get(pk=pk)</p>
        <p class="mb-1 mr-25">return render(request, "blogs/blog_details.html", {"blog":blog})</p>
    </div>
    <h4 class="mb-1 mt-4">Get author by its id. get all published blogs related to that author.</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">def author(request, pk):</p>
        <p class="mb-1 mr-25">author = Author.objects.get(pk=pk)</p>
        <p class="mb-1 mr-25">blogs = Blog.objects.filter(author=author, status='p')</p>
        <p class="mb-1 mr-25">return render(request, "blogs/author.html", {"author":author, "blogs":blogs})</p>
    </div>

    <hr />
    <h2 class="my-5 custom-title">URL</h2>
    <h4 class="mb-1 mt-4">Add previous views into urls file:</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">from django.urls import path</p>
        <p class="mb-1">from . import views</p>
        <p class="mb-1">app_name = 'blogs'</p>
        <p class="mb-1">urlpatterns = [</p>
        <p class="mb-1 mr-25">path('', views.magazines, name="magazines"),</p>
        <p class="mb-1 mr-25">path('magazine/&lt;int:pk&gt;/', views.magazine, name="magazine-details"),</p>
        <p class="mb-1 mr-25">path('blog/&lt;int:pk&gt;/', views.blog, name="blog-details"),</p>
        <p class="mb-1 mr-25">path('author/&lt;int:pk&gt;/', views.author, name="author-details"),</p>
        <p class="mb-1">]</p>
    </div>

    <hr />
    <h2 class="my-5 custom-title">View</h2>
    <h4 class="mb-1 mt-4">base view used as shared view for all views.</h4>
    <h4 class="mb-1 mt-4">Create templates folder inside blogs app. Create blogs folder inside templates folder. Add base.html, homepage.html, magazine_details.html, blog_details.html, author.html</h4>
    <h4 class="mb-1 mt-4">base.html:</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">&lt;html lang="en"&gt;</p>
        <p class="mb-1">&lt;head&gt;</p>
        <p class="mb-1 mr-25">&lt;meta charset="UTF-8"&gt;</p>
        <p class="mb-1 mr-25">&lt;title&gt;KDjango&lt;/title&gt;</p>
        <p class="mb-1">&lt;/head&gt;</p>
        <p class="mb-1">&lt;body&gt;</p>
        <p class="mb-1 mr-25">&lt;div class="header"&gt;</p>
        <p class="mb-1 mr-50">&lt;h1&gt;KDjango Site&lt;/h1&gt;</p>
        <p class="mb-1 mr-50">&lt;div&gt;</p>
        <p class="mb-1 mr-75">&lt;h3&gt;</p>
        <p class="mb-1 mr-100">&lt;a href="{% url 'blogs:magazines' %}"&gt;Magazines&lt;/a&gt;</p>
        <p class="mb-1 mr-75">&lt;/h3&gt;</p>
        <p class="mb-1 mr-50">&lt;/div&gt;</p>
        <p class="mb-1 mr-25">&lt;/div&gt;</p>
        <p class="mb-1 mr-25">{% block content %}{% endblock %}</p>
        <p class="mb-1">&lt;/body&gt;</p>
        <p class="mb-1">&lt;/html&gt;</p>
    </div>
    <h4 class="mb-1 mt-4">homepage.html:</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">{% include "blogs/base.html" %}</p>
        <p class="mb-1">{% block content %}</p>
        <p class="mb-1 mr-25">{% for magazine in magazines %}</p>
        <p class="mb-1 mr-50">&lt;div&gt;</p>
        <p class="mb-1 mr-75">&lt;br&gt;</p>
        <p class="mb-1 mr-75">&lt;a href="{% url 'blogs:magazine-details' magazine.id %}"&gt;</p>
        <p class="mb-1 mr-100">&lt;p&gt;{{ magazine.title }}&lt;/p&gt;</p>
        <p class="mb-1 mr-75">&lt;/a&gt;</p>
        <p class="mb-1 mr-75">&lt;br&gt;</p>
        <p class="mb-1 mr-75">&lt;hr&gt;</p>
        <p class="mb-1 mr-50">&lt;/div&gt;</p>
        <p class="mb-1 mr-25">{% endfor %}</p>
        <p class="mb-1">{% endblock %}</p>
    </div>
    <h4 class="mb-1 mt-4">magazine_details.html:</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">{% include "blogs/base.html" %}</p>
        <p class="mb-1">{% block content %}</p>
        <p class="mb-1 mr-25">&lt;div&gt;</p>
        <p class="mb-1 mr-50">&lt;h3&gt;{{ magazine.title }}&lt;/h3&gt;</p>
        <p class="mb-1 mr-50">&lt;p&gt;{{ magazine.description }}&lt;/p&gt;</p>
        <p class="mb-1 mr-50">&lt;p&gt;</p>
        <p class="mb-1 mr-75">Created on {{ magazine.publish_date }}</p>
        <p class="mb-1 mr-50">&lt;/p&gt;</p>
        <p class="mb-1 mr-25">&lt;/div&gt;</p>
        <p class="mb-1 mr-25">&lt;br&gt;</p>
        <p class="mb-1 mr-25">&lt;br&gt;</p>
        <p class="mb-1 mr-25">&lt;br&gt;</p>
        <p class="mb-1 mr-25">{% if blogs %}</p>
        <p class="mb-1 mr-50">{{ blogs|length }} Blogs:</p>
        <p class="mb-1 mr-50">&lt;br&gt;</p>
        <p class="mb-1 mr-50">&lt;br&gt;</p>
        <p class="mb-1 mr-50">&lt;br&gt;</p>
        <p class="mb-1 mr-50">{% for blog in blogs %}</p>
        <p class="mb-1 mr-75">&lt;div&gt;</p>
        <p class="mb-1 mr-100">&lt;a href="{% url 'blogs:blog-details' blog.id %}"&gt;</p>
        <p class="mb-1 mr-125">&lt;img src="{{ blog.cover_image.url }}"&gt;</p>
        <p class="mb-1 mr-100">&lt;/a&gt;</p>
        <p class="mb-1 mr-100">&lt;p&gt;Author: {{ blog.author.name }}&lt;/p&gt;</p>
        <p class="mb-1 mr-100">&lt;a href="{% url 'blogs:blog-details' blog.id %}"&gt;</p>
        <p class="mb-1 mr-125">&lt;h4&gt;Title: {{ blog.title }}&lt;/h4&gt;</p>
        <p class="mb-1 mr-100">&lt;/a&gt;</p>
        <p class="mb-1 mr-75">&lt;/div&gt;</p>
        <p class="mb-1 mr-75">&lt;br&gt;</p>
        <p class="mb-1 mr-75">&lt;br&gt;</p>
        <p class="mb-1 mr-75">&lt;br&gt;</p>
        <p class="mb-1 mr-50">{% endfor %}</p>
        <p class="mb-1 mr-25">{% else %}</p>
        <p class="mb-1 mr-50">&lt;h3&gt;0 blogs... No blogs to display&lt;/h3&gt;</p>
        <p class="mb-1 mr-25">{% endif %}</p>
        <p class="mb-1">{% endblock %}</p>
    </div>
    <h4 class="mb-1 mt-4">blog_details.html:</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">{% include "blogs/base.html" %}</p>
        <p class="mb-1">{% block content %}</p>
        <p class="mb-1">&lt;div&gt;</p>
        <p class="mb-1 mr-25">&lt;div&gt;</p>
        <p class="mb-1 mr-50">&lt;img src="{{ blog.cover_image.url }}"&gt;</p>
        <p class="mb-1 mr-25">&lt;/div&gt;</p>
        <p class="mb-1 mr-25">&lt;div&gt;</p>
        <p class="mb-1 mr-50">&lt;h4&gt;Magazine: {{ blog.magazine }}&lt;/h4&gt;</p>
        <p class="mb-1 mr-50">&lt;a href="{% url 'blogs:author-details' blog.author.id %}"&gt;</p>
        <p class="mb-1 mr-75"> &lt;h4&gt;Author: {{ blog.author.name }}&lt;/h4&gt;</p>
        <p class="mb-1 mr-50">&lt;/a&gt;</p>
        <p class="mb-1 mr-50">&lt;h4&gt;Title: {{ blog.title }}&lt;/h4&gt;</p>
        <p class="mb-1 mr-50">&lt;h4&gt;Created on: {{ blog.publish_date }}&lt;/h4&gt;</p>
        <p class="mb-1 mr-25">&lt;/div&gt;</p>
        <p class="mb-1 mr-25">&lt;div&gt;</p>
        <p class="mb-1 mr-50">&lt;p&gt;{{ blog.content }}&lt;/p&gt;</p>
        <p class="mb-1 mr-25">&lt;/div&gt;</p>
        <p class="mb-1">&lt;/div&gt;</p>
        <p class="mb-1">{% endblock %}</p>
    </div>
    <h4 class="mb-1 mt-4">author.html:</h4>
    <div class="rounded p-4 my-4 custom-div">
        <p class="mb-1">{% include "blogs/base.html" %}</p>
        <p class="mb-1">{% block content %}</p>
        <p class="mb-1 mr-25">&lt;div&gt;</p>
        <p class="mb-1 mr-50">&lt;h3&gt;Name: {{ author.name }}&lt;/h3&gt;</p>
        <p class="mb-1 mr-50">&lt;p&gt;Email: {{ author.email }}&lt;/p&gt;</p>
        <p class="mb-1 mr-50">&lt;p&gt;{{ author.bio }}&lt;/p&gt;</p>
        <p class="mb-1 mr-50">&lt;img src="{{ author.profile_image.url }}"&gt;</p>
        <p class="mb-1 mr-50">&lt;br&gt;</p>
        <p class="mb-1 mr-25">&lt;/div&gt;</p>
        <p class="mb-1 mr-25">&lt;br&gt;</p>
        <p class="mb-1 mr-25">&lt;br&gt;</p>
        <p class="mb-1 mr-25">{% if blogs %}</p>
        <p class="mb-1 mr-50">{{ blogs|length }} Blogs</p>
        <p class="mb-1 mr-50">&lt;br/&gt;</p>
        <p class="mb-1 mr-50">&lt;br/&gt;</p>
        <p class="mb-1 mr-50">&lt;br/&gt;</p>
        <p class="mb-1 mr-50">{% for blog in blogs %}</p>
        <p class="mb-1 mr-75">&lt;div&gt;</p>
        <p class="mb-1 mr-100">&lt;a href="{% url 'blogs:blog-details' blog.id %}"&gt;</p>
        <p class="mb-1 mr-125">&lt;h4&gt;Title: {{ blog.title }}&lt;/h4&gt;</p>
        <p class="mb-1 mr-100">&lt;/a&gt;</p>
        <p class="mb-1 mr-75">&lt;/div&gt;</p>
        <p class="mb-1 mr-75">&lt;br/&gt;</p>
        <p class="mb-1 mr-75">&lt;br/&gt;</p>
        <p class="mb-1 mr-50">{% endfor %}</p>
        <p class="mb-1 mr-25">{% else %}</p>
        <p class="mb-1 mr-50">&lt;p&gt;0 Blogs&lt;/p&gt;</p>
        <p class="mb-1 mr-25">{% endif %}</p>
        <p class="mb-1">{% endblock %}</p>
    </div>
</div>