<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Change Password</h1>
    <h4 class="text-center mt-4 mb-5">Change user password by using set_password.</h4>
    <hr />
    <h3 class="custom-title text-start mb-0 mt-5">1</h3>
    <div class="d-flex justify-content-start mt-0">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">python manage.py shell</h5>
    </div>
    <h3 class="custom-title text-start mb-0 mt-2">2</h3>
    <div class="d-flex justify-content-start mt-0">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">user = User.objects.get(username='KhaledDotNet')</h5>
    </div>
    <h3 class="custom-title text-start mb-0 mt-2">3</h3>
    <div class="d-flex justify-content-start mt-0">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">user.set_password('new password')</h5>
    </div>
    <h3 class="custom-title text-start mb-0 mt-2">4</h3>
    <div class="d-flex justify-content-start mt-0 mb-4">
        <h5 class="rounded mt-2 mb-4 p-3 custom-back">user.save()</h5>
    </div>
    <hr />
    <h2 class="my-5 custom-title">Change password view</h2>
    <div class="rounded p-4 mt-4 mb-5 custom-div">
        <p class="mb-1">from django.contrib.auth.decorators import login_required</p>
        <p class="mb-1">from django.shortcuts import render, redirect</p>
        <p class="mb-1">from .forms import ChangePasswordForm</p>
        <p class="mb-1">@@login_required</p>
        <p class="mb-1">def change_password(request):</p>
        <p class="mb-1 mr-25">if request.method == 'POST':</p>
        <p class="mb-1 mr-50">form = ChangePasswordForm(request.user, data=request.POST)</p>
        <p class="mb-1 mr-50">if form.is_valid():</p>
        <p class="mb-1 mr-75">user = request.user</p>
        <p class="mb-1 mr-75">new_password = form.cleaned_data['password']</p>
        <p class="mb-1 mr-75">user.set_password(new_password)</p>
        <p class="mb-1 mr-75">user.save()</p>
        <p class="mb-1 mr-75">return redirect('dashboard')  # Redirect to a dashboard or any other page</p>
        <p class="mb-1 mr-25">else:</p>
        <p class="mb-1 mr-50">form = ChangePasswordForm()</p>
        <p class="mb-1 mr-25">return render(request, 'changepassword.html', {'form': form})</p>
    </div>
    <br>
    <hr />
    <h2 class="my-5 custom-title">Explanation</h2>
    <h5 class="mt-4 mb-5">
        ChangePasswordForm require old password and new password. when user submit the form. 
        form checks if old password matches new password. if matched, new password will be cleand from form. 
        request.user enable you to get current user. set_password will change the user password.
    </h5>
</div>