<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Login</h1>
    <h4 class="text-center my-5">Ensuring that only authorized individuals can access sensitive data and perform specific actions.</h4>
    <hr />
    <h2 class="my-5 custom-title">Login view</h2>
    <div class="mt-4"></div>
    <pre class="mb-5">
        <code class="language-Django">
            from django.contrib.auth import authenticate, login
            from django.shortcuts import render, redirect
            from .forms import CustomLoginForm
            def login_view(request):
                if request.method == 'POST':
                    form = CustomLoginForm(request, data=request.POST)
                    if form.is_valid():
                        # Authenticate user
                        user = authenticate(username=form.cleaned_data['username'], password=form.cleaned_data['password'])
                        if user is not None:
                            # Log in the user
                            login(request, user)
                            return redirect('dashboard')  # Redirect to a dashboard or any other page
                else:
                    form = CustomLoginForm()
                return render(request, 'login.html', {'form': form})
            <span></span>
        </code>
    </pre>

    <br>
    <hr />
    <h2 class="my-5 custom-title">Explanation</h2>
    <h5 class="mt-4 mb-5">
        CustomLoginForm require username and password. when user submit the form. data will be cleand from form.
        authenticate used to define if user is registered by form password and username.
        if user is authenticated. he will login the system.
    </h5>
</div>