<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Permissions and Authorization</h1>
    <h5 class="mb-3 mt-5">Each models has those permissions.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            has_view_ModelName()

            has_add_ModelName()

            has_change_ModelName()

            has_delete_ModelName()
            <span></span>
        </code>
    </pre>
    <h5 class="mb-4 mt-4">Check if user has particular permission.</h5>
    <pre class="mb-5">
        <code class="language-Django">
            if request.user.has_perm('app_name.PermissionName'):
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Example</h2>
    <div class="mt-2"></div>
    <pre class="mb-5">
        <code class="language-Django">
            if request.user.has_perm('blogs.add'):
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Create your own permission</h2>
    <div class="mt-4"></div>
    <pre class="mb-5">
        <code class="language-Django">
            from app-name.models import model-name
            from django.contrib.auth.models import Permission
            from django.contrib.contenttypes.models import ContentType
            content_type = ContentType.objects.get_for_model(model-name)
            permission = Permission.objects.create(
                codename='',
                name='',
                content_type=content_type,
            )
            <span></span>
        </code>
    </pre>

    <br>
    <hr />
    <h2 class="my-5 custom-title">Explanation</h2>
    <h5 class="mt-4 mb-5">
        content_type: define to which model you will insert the permission.
        codename: unique identifier for the permission.
        name: human-readable name for the permission.
        It's used to display the permission's purpose to administrators and users.
    </h5>
</div>