<div style="max-width:75%; text-align:center; margin-left:auto; margin-right:auto;" class="d-flex flex-column justify-content-center align-content-center text-start">
    <h1 class="p-4 my-5 custom-title" style="font-size: 80px; font-weight: 700;">Register</h1>
    <br>
    <hr />
    <h2 class="my-5 custom-title">Defaul user model</h2>
    <h5 class="mt-4 mb-5">username - password - email - first_name - last_name</h5>
    <hr />
    <h2 class="my-5 custom-title">Create user</h2>
    <h5 class="mt-5 mb-4">Create a user by using: create_user(username, email, password)</h5>
    <pre class="mb-4">
        <code class="language-Django">
            python manage.py shell
            <span></span>
        </code>
    </pre>

    <pre class="mb-5">
        <code class="language-Django">
            from django.contrib.auth.models import User
            user = User.objects.create_user('KhaledDotNet', 'khalod.zeko@gmail.com', 'kchdmejcma2d')
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Update user</h2>
    <div class="mt-4"></div>
    <pre class="mb-5">
        <code class="language-Django">
            user.first_name = "khaled"
            user.last_name = "alshammi"
            user.save()
            <span></span>
        </code>
    </pre>

    <hr />
    <h2 class="my-5 custom-title">Register view</h2>
    <div class="mt-4"></div>
    <pre class="mb-5">
        <code class="language-Django">
            from django.contrib.auth import authenticate, login
            from django.contrib.auth.models import User  # Import User model
            from django.shortcuts import render, redirect
            from .forms import CustomRegisterForm
            def register_view(request):
                if request.method == 'POST':
                    form = CustomRegisterForm(request.POST)
                    if form.is_valid():
                        username = form.cleaned_data['username']
                        email = form.cleaned_data['email']
                        password = form.cleaned_data['password']
                        user = User.objects.create_user(username=username, email=email, password=password)  # Specify field names
                        user = authenticate(username=username, password=password)  # Provide username and password
                        if user is not None:
                            # Log in the user
                            login(request, user)
                            return redirect('dashboard')  # Redirect to a dashboard or any other page
                else:
                    form = CustomRegisterForm()
                return render(request, 'register.html', {'form': form})
            <span></span>
        </code>
    </pre>
</div>