<form method="post" class="mt-5 mb-5 col-10" asp-area="Customer" asp-controller="Inquiry" asp-action="Create" enctype="multipart/form-data" style="margin-right:auto; margin-left: auto;">
    <div class="border-b p-3 mt-5" style="background:white;">
        <div class="row pb-2">
            <h1 style="color: #417690;" class="text-center my-3">Create Inquiry</h1>
            <hr />
        </div>
        <div class="mb-4 px-5">
            <label for="type" class="mb-2 custom-color">Select Type:</label>
            <select required name="type" id="type" class="bottom-border form-control">
                <option class="custom-option" value="" disabled selected>~~Select~~</option>
                <option class="custom-option" value="improvement">improvement</option>
                <option class="custom-option" value="Issue">Issue</option>
                <option class="custom-option" value="Informational">Informational</option>
                <option class="custom-option" value="Service">Service</option>
                <option class="custom-option" value="Price">Price</option>
                <option class="custom-option" value="Availability">Availability</option>
                <option class="custom-option" value="Job">Job</option>
                <option class="custom-option" value="Suggestion">Suggestion</option>
                <option class="custom-option" value="Partnership">Partnership</option>
                <option class="custom-option" value="Investment">Investment</option>
                <option class="custom-option" value="Support">Support</option>
            </select>
        </div>
        <div class="mb-4 px-5">
            <label for="content" class="custom-color mb-2">Content</label>
            <input required name="content" id="content" class="bottom-border form-control" />
        </div>
        <div class="d-flex justify-content-center custom-opacity">
            <button style="background-color:#417690; color: white;" type="submit" class="btn mb-3 mt-4 py-2 px-5">
                Send
            </button>
        </div>
        @* <button type="submit" style="background-color:#417690; color: white;" class="btn mb-3" style="width:150px">
            
        </button> *@
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}