@model List<ChatRoom>
<style>
    a:hover {
        color: #dcdcdc;
    }
</style>
<div class="container p-3 col-6">
    <div class="row pt-4 justify-content-center">
        <div class="col-6">
            <h1 class="text-center" style="color: #417690; font-weight:900;">Users</h1>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped border-b" style="width:100%">
        <thead style="background: white; color: #417690;">
            <tr>
                <th class="text-center">
                    User
                </th>
            </tr>
        </thead>
        <tbody style="background: #417690; color: white; vertical-align: middle;">
            @foreach (var obj in Model)
            {
                <tr style="background: #417690; color: white;">
                    <td class="text-center">
                        <a class="custom-botton" asp-route-id="@obj.Id" asp-controller="ReplyToChatRoom" asp-action="Details">
                            @obj.User.Name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>