@model List<ChatRoom>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Chat Rooms</h2>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.User.Name
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-route-id="@obj.Id" asp-controller="ReplyToChatRoom" asp-action="Details"
                               class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>Answer
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>