@model Inquiry
<style>
    .btn:hover {
        color: white;
    }
</style>
<form asp-action="Reply" method="post" class="col-8 my-5 py-5 custom-form">
    <input hidden value=@Model.Id name="id" />
    <div class="row pt-4 justify-content-center">
        <div class="col-6 mb-4">
            <h1 class="text-center" style="color: #417690; font-weight:900;">Reply To Inquiry</h1>
        </div>
    </div>
    <hr />
    <div class="row d-flex p-1 mb-3 mt-5">
        <h5 class="form-control text-start p-4 border-b" style="background: #ededed; color: #417690; border-radius:50px">
            @Model.Content
        </h5>
    </div>
    <div class="row d-flex p-1 mb-3 mt-5">
        <textarea placeholder="Type a message." name="reply" id="reply" class="form-control  py-3 px-3 bottom-border" style="background:#ededed; color: #417690; border-radius:10px"></textarea>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn mb-3 mt-2 custom-reply custom-opacity">
            Reply
        </button>
    </div>
</form>